

$base_font_size: 16px;
$base_line_height: 1.5;
$base_font: Nunito Sans;
$second_font: Nunito;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";



$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;



$white: #ffffff;
$white_hover: #eeeeee;
$sand: #fffaee;
$black: #000000;
$black_hover: #272727;
$blue: #2b48e7;
$blue_hover: #102dce;
$light_blue: #e2f1f9;
$facebook_color: #2e4da7;
$facebook_color_hover: #173488;
$twitter_color: #0aa0f5;
$twitter_color_hover: #0688d2;
$dropbox_color: #007ee5;
$dropbox_color_hover: #046bbf;
$red: #ff0000;
$red_hover: #e10000;
$soft_red: #ec4336;
$dark_blue: #2c3e50;
$dark_blue_hover: #4a6580;
$light_gray: #e7e7e7;
$light_gray_hover: #d7d7d7;
$medium_gray: #95a5a6;
$dark_gray: #141414;
$green: #18c967;
$green_hover: #0cb658;
$pink: #ea4c89;
$pink_hover: #e41867;
