@import '../css/bootstrap.min.css';
@import '../css/normalize.css';
@import 'variables.scss';
@import '../css/font-awesome.min.css';
@import '../css/aos.min.css';
@import '../css/slick.css';
@import '../css/slick-theme.css';
@import '../css/framework.css';
@import 'layout.scss';
@import 'adaptive_layout.scss';